<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DEMO SHOP</title>

<!--    <script src="./../static/demo.js"></script>-->
    <script type="text/javascript" th:src="@{/demo.js}"></script>

</head>
<body>
    <h1>DEMO SHOP</h1>
    <input type="hidden" id="customer-id" autocomplete="off" />

    Customer name : <input id="customer-name" autocomplete="off" />
    <br/>
    Birthdate : <input type="date" id="birthdate" />
    <br/>
    Address : <textarea id="address" rows="4" cols="50" ></textarea>
    <br/>
    Active flag :
    <select id="active-flag">
        <option value="Y">yes</option>
        <option value="N">no</option>
    </select>
    <br/>
    <br/>
    <button onclick="saveButtonOnClick()">Submit</button>
    <button onclick="resetButtonOnClick()">Reset</button>

    <br/>
    <hr/>

    <div id="content"></div>
</body>
</html>