<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ASSIGNMENT STATEMENT</title>

<!--    <script src="./../static/demo.js"></script>-->
    <script type="text/javascript" th:src="@{/assignment.js}"></script>

</head>
<body>
    <h1>ASSIGNMENT STATEMENT</h1>
    <input type="hidden" id="statement-id" autocomplete="off" />

    Date : <input type="date" id="statement-date" />
    <br/>
    Type :
    <select id="statement-type">
        <option value="I">Income</option>
        <option value="E">Expense</option>
    </select>
    <br/>
    Amount : <input type="number" id="amount" autocomplete="off" />
    <br/>
    Description : <textarea id="description" rows="4" cols="50" ></textarea>
    <br/>
    <br/>
    <button onclick="saveButtonOnClick()">Submit</button>
    <button onclick="resetButtonOnClick()">Reset</button>

    <br/>
    <hr/>
    Type :
    <select id="statement-type-search" onchange="onChangeStatementTypeSearch()">
        <option value=""></option>
        <option value="I">Income</option>
        <option value="E">Expense</option>
    </select>
    <br/>

    <div id="content"></div>
</body>
</html>